body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#form-tarefa {
    text-align: center;
    margin-top: 20px;
}

#nome-tarefa {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45A049;
}

#lista-tarefa {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: 0.3s ease;
}

li:hover {
    background-color: #f9f9f9;
}

ol li.checked {
    text-decoration: line-through;
}